@model ProjetoMVC_Introducao.Models.Usuario
@{
    ViewBag.Title = "Usuario";
}

<h2>Validação de usuarios</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Informações do Usuário</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Observações)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observações)
            @Html.ValidationMessageFor(model => model.Observações)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Idade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Idade)
            @Html.ValidationMessageFor(model => model.Idade)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmaçãoSenha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmaçãoSenha)
            @Html.ValidationMessageFor(model => model.ConfirmaçãoSenha)
        </div>
        <br />
        <div>
            <p><input type="submit" name="Cadastrar" value="Cadastrar" /></p>
        </div>

    </fieldset>

    @section Scripts{
        @Scripts.Render("~/budles/jqueryval");
    }
}
